In [1]:
import pandas as pd
import seaborn as sns

In [3]:
species = pd.read_csv('../datasets/national_parks_biodiversity_species.csv', dtype='string'

In [7]:
species.columns

Index(['Species ID', 'Park Name', 'Category', 'Order', 'Family',
       'Scientific Name', 'Common Names', 'Record Status', 'Occurrence',
       'Nativeness', 'Abundance', 'Seasonality', 'Conservation Status',
       'Unnamed: 13'],
      dtype='object')

In [5]:
species['Category'].value_counts()

Vascular Plant         65221
Bird                   14601
Insect                 14349
Fungi                   6203
Nonvascular Plant       4278
Fish                    3956
Mammal                  3867
Invertebrate            1566
Reptile                 1343
Algae                    976
Slug/Snail               787
Spider/Scorpion          776
Amphibian                743
Crab/Lobster/Shrimp      582
Name: Category, dtype: Int64

In [27]:
species.groupby('Park Name').first().reset_index().groupby('Common Names').agg({'Park Name': 'count'}).sort_values(by='Park Name', ascending=False)

                                                   Park Name
Common Names
Pronghorn                                                  9
None                                                       6
White-Tailed Deer                                          5
Moose                                                      4
Pronghorn, Pronghorn                                       4
Mountain Goat                                              4
White-Tailed Deer, White-Tailed Deer                       2
Bison                                                      2
Muskox                                                     2
Sierra Nevada Bighorn Sheep                                1
Short-Finned Pilot Whale                                   1
Pronghorn Antelope, Pronghorn/Antelope                     1
Pronghorn Antelope                                         1
Mountain Goat, Mountain Goat, Rocky Mountain Goat          1
Antelope, Pronghorn                                        1
Aurochs, Aurochs, Domestic Cattle (Feral), Dom...          1
Gapper's Red-Backed Vole                                   1
Feral Sheep, Red Sheep                                     1
Feral Cattle                                               1
Domestic Cow                                               1
Domestic Cattle (Feral),                                   1
Desert Pallid Bat                                          1
Dall's Sheep                                               1
Colorado Chipmunk                                          1
Channel Islands Gray Fox                                   1
Bighorn Sheep                                              1
Merriam's Elk                                              1

In [6]:
plants = species[(species['Category'] == 'Vascular Plant') | (species['Category'] == 'Nonvascular Plant')]

In [42]:
plants[plants['Common Names'].str.lower().str.contains('lupin')]['Common Names'].value_counts().sample(30)

Succulent Lupine                                     1
Seashore Lupine                                      1
Annual Lupine, Sky Lupine                            2
Hairy Bush-Pea, Hairy False-Lupine                   1
Chamisso Bush Lupine                                 1
Silverleaf Lupine                                    2
Bicolor Lupine, Miniature Lupine                     4
Big-Lvd Lupine, Many-Lvd Lupine, Swamp Lupine        1
Green Slender Lupine                                 1
Wyeth's Lupine                                       2
Columbia Lupine                                      1
Bajada Lupine, Elegant Lupine, Scarlet Lupine        2
Hyacinth Lupine                                      1
Donner Lake Lupine                                   1
Garden Lupine                                        1
Adonis Lupine                                        1
Inyo Meadow Lupine                                   1
Meadow Lupine                                        3
Drew's Silky Lupine                                  1
Shortstem Lupine                                     5
Altramuz Perenne, Bigleaf Lupine, Garden Lupin...    6
Panamint Mountain Lupine                             2
Yellow-Eye Lupine                                    1
Subalpine Lupine                                     3
Pale Desert Lupine                                   1
Greenstipule Lupine                                  2
Summer Lupine                                        2
Shaggy Lupine                                        1
Lupine, Silky Lupine, Wyeth Lupine                   1
Miniature Annual Lupine, Miniature Lupine            1
Name: Common Names, dtype: Int64

In [65]:
plants['Common Names'].value_counts().sort_values

<bound method Series.sort_values of None                      6403
Brachythecium Moss          75
Kentucky Bluegrass          58
Bryum Moss                  53
Dicranum Moss               53
                          ...
Kamchatica Rockress          1
Sand-Dune Rockcress          1
Western Poppy                1
Deer Cabbage                 1
Palmer's Ground-Cherry       1
Name: Common Names, Length: 27638, dtype: Int64>